.attribution {
  /* position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
