.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 560px) {
  .attribution {
    position: static;
    bottom: 1rem;
    transform: none;
    margin-top: auto;
  }
}
