.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2.5rem;
  width: 100%;
}

@media only screen and (max-width: 560px) {
  .main {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 475px) {
  .container {
    gap: 1.5rem;
  }
}
